// Configuration file for API credentials
// These values will be passed as environment variables to the app

SOCCER_API_URL = https://v3.football.api-sports.io/fixtures
SOCCER_API_KEY = e71fd5d5ad177830d297564b06b5df22
SOCCER_API_KEY_HEADER = x-apisports-key

GOOGLE_MAPS_API=AIzaSyBmrjC59sSppSKvHl44oOJ3a7JGA1NKmKw


WeatherApi=2bb4e8d81a39351a31804c486f11ce1d