<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTElLhCd0ami-KREEyGOH-Bq-kCG3ivbI</string>
	<key>GCM_SENDER_ID</key>
	<string>576120878819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>name.alonso.SportsTracker</string>
	<key>PROJECT_ID</key>
	<string>fifa-schedule-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fifa-schedule-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576120878819:ios:32e3037c0c6392713d77d6</string>
</dict>
</plist>