<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to track your progress to the stadium and provide real-time updates on your schedule.</string>
	<key>NSLocationUsageDescription</key>
	<string>We need your location to track your progress to the stadium and provide real-time updates on your schedule.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to send you timely notifications about your schedule even when the app is in the background.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>waze</string>
		<string>parkmobile</string>
		<string>spothero</string>
		<string>parkwhiz</string>
		<string>hardrockstadium</string>
		<string>metlifestadium</string>
	</array>
</dict>
</plist>
